body {
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    background-color: rgb(68, 31, 155);
    height: 100px;
}

#logo {
    float: left;
    margin-left: 40px;
    margin-top: 3px;
}

#logo a {
    text-decoration: none;
	color: rgb(0, 0, 0);
	font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
}

#login {
    float: right;
    margin-right: 40px;
    margin-top: 50px;
    position: relative;
}

#login a {
    color: rgb(0, 0, 0);
    font-size: 22px;
}

#login:hover {
    cursor: pointer;
}

#login:hover #login-drop {
    display: block; 
    cursor: pointer;
}

#login-drop {
	display: none;
	position: absolute;
    right: 0px;
	background-color: whitesmoke;
	min-width: 120px;
	z-index: 1;
}

#login-drop a {
	color: black;
	padding: 12px 15px;
	display: block;
	font-size: 14px;
}

#login-drop a:hover {
    background-color: rgb(220, 220, 220);
} 

.movie-home {
    float: left;
    margin: 32px;
    cursor: pointer;
}

.movie-home:hover {
    opacity: 0.80;
}

.movie-home img {
    width: 240px;
    height: 340px;
}

.movie-home-name {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}

#movie {
    width: 300px;
    float: left;
    margin: 20px;
}

#movie img {
    width: 300px;
    height: 425px;
}

#details {
    float: left;
}

#details p {
    font-size: 40px;
    font-weight: bold;
    display: block;
    margin: 20px;
    margin-top: 40px;
    color: rgb(0, 0, 0);
}

#all-shows {
    padding-top: 40px;
}

#date {
    display: block;
    font-weight: bold;
    font-size: 17px;
    margin-left: 20px;
    margin-bottom: 4px;
}

.show {
    margin: 20px;
    margin-top: 10px;
    color: green;
    height: 34px;
    font-size: 16px;
}

.show:hover {
    color: white;
    background-color: green;
    cursor: pointer;
}

.clear {
    clear: both;
}

#info {
    font-weight: normal;
    font-size: 18px;
    margin: 15px;
    color: black;
}