body {
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    background-color: red;
    height: 100px;
}

#logo {
    float: left;
    margin-left: 40px;
    margin-top: 3px;
}

#logo a {
    text-decoration: none;
	color: rgb(0, 0, 0);
	font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
}

#login {
    float: right;
    margin-right: 40px;
    margin-top: 50px;
    position: relative;
}

#login a {
    color: rgb(0, 0, 0);
    font-size: 22px;
    text-decoration: none;
}

#login:hover {
    cursor: pointer;
}

#login:hover #login-drop {
    display: block; 
    cursor: pointer;
}

#login-drop {
	display: none;
	position: absolute;
    right: 0px;
	background-color: whitesmoke;
	min-width: 120px;
	z-index: 1;
}

#login-drop a {
	color: black;
	padding: 12px 15px;
	display: block;
	font-size: 14px;
}

#login-drop a:hover {
    background-color: rgb(220, 220, 220);
} 

.movie-home {
    float: left;
    margin: 32px;
    cursor: pointer;
}

.movie-home:hover {
    opacity: 0.80;
}

.movie-home img {
    width: 240px;
    height: 340px;
}

.movie-home-name {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}

#movie {
    width: 300px;
    float: left;
    margin: 20px;
}

#movie img {
    width: 300px;
    height: 425px;
}

#details {
    float: left;
}

#details p {
    font-size: 40px;
    font-weight: bold;
    display: block;
    margin: 20px;
    margin-top: 40px;
    color: rgb(0, 0, 0);
}

#all-shows {
    padding-top: 40px;
}

#date {
    display: block;
    font-weight: bold;
    font-size: 17px;
    margin-left: 20px;
    margin-bottom: 4px;
}

.show {
    margin: 20px;
    margin-top: 10px;
    color: green;
    height: 34px;
    font-size: 16px;
}

.show:hover {
    color: white;
    background-color: green;
    cursor: pointer;
}

.clear {
    clear: both;
}

#info {
    font-weight: normal;
    text-align: left;
    font-size: 18px;
    margin: 15px;
    color: black;
}

.seat {
    color: green;
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    border: 1px solid green;
    border-radius: 12px;
    margin: 5px;
}

.space {
    width: 40px;
    height: 40px;
    visibility: hidden;
    margin: 5px;
}

.row {
    display: flex;
    justify-content: center;
}

#map {
    overflow-x: scroll;
    padding-bottom: 16px;
}

#movie-screen {
    text-align: center;
    margin-bottom: 20px;
}

#screen-label {
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
}

#screen {
    background-color: grey;
    width: 500px;
    height: 5px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.booked {
    background: darkgray;
    color: white;
    border-color: darkgrey;
}

.available:hover{
    cursor: pointer;
}

.login-page {
    margin-left: 50px;
    font-size: 22px;
}

.login-page input {
	display: block;
	margin-top: 16px;
}

#login-button {
    margin-top: 20px;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    background-color: blue;
    padding: 4px 20px;
}

#login-button:hover {
    opacity: 0.9;
}

#login-email {
    width: 280px;
    font-size: 18px;    
}

#login-password {
    width: 160px;
    font-size: 18px;
}

.error {
    color: red;
}

.register-page {
    margin-left: 50px;
    font-size: 22px;
}

.register-page input {
	display: block;
	margin-top: 16px;
}

#register-button {
    margin-top: 20px;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    background-color: blue;
    padding: 4px 20px;
}

#register-button:hover {
    opacity: 0.9;
}

#register-email {
    width: 280px;
    font-size: 18px;    
}

#register-name {
    width: 200px;
    font-size: 18px;
}

#register-password {
    width: 160px;
    font-size: 18px;
}

.signup {
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
}

.clicked {
    background-color: green;
    color: white;
    cursor: pointer;
}

#ticket{
    background: lightgrey;
    margin: 20px auto;
    padding: 40px;
    border-radius: 35px;
    width: 50%;
    text-align: center;
}

.review {
    font-size: 25px;
    color: black;
}

.diff-seat {
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
}

#review-button {
    align-self: center;
    margin-top: 20px;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    background-color: lightseagreen;
    padding: 4px 20px;
}

#review-button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.container {
        max-width: 400px;
        margin: 50px auto;
        padding: 20px;
        background-color: lightgray;
        border-radius: 5px;
}
    
.form-group {
    margin-bottom: 20px;
    margin-top: 20px;
}
    
.form-group label {
    font-weight: bold;
}
    
.form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    }
    
.form-group button {   
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
    
.form-group button:hover {
    background-color: #0056b3;
}